@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.navigation {
    background-color: var(--primary-color);

    color:black;
    font-weight: bold;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-links {

    display: inline;
    padding: 0rem 0.5rem;
    color: black;
}

body{
    background-color: #ff9933;
    font-family: 'Montserrat', sans-serif;
}



input{
    align-items: center;
}

.link {
    color: black; 
}

#output {
    color:black;
    font-weight: bold;
    padding: 1rem;
    

}

#submit-answer-btn {
    padding: .5rem;
}

label{
    font-weight: bold;
}




